:root {
    --menu-color: #413e3e;
    --head-color: #3b4046;
    --main-background-color: #1C1E21;
    --track-container-width: 200px;
}

.metro-btn-arrow {
    background: none;
    border: none;
    position: relative;
    top: 13px;
    width: 12px;
    margin: 0 9px 0 -12px;
    padding: 3px 0;
    font-size: 16px;
    transform: scaleY(0.6);
}
.metro-btn-arrow:hover {
    cursor: pointer;
    color: lightgrey;
}

html, body {
    overflow: hidden;
    height: 100%;
    background-color: var(--main-background-color);
}

body {
    scrollbar-color: rgb(107, 107, 107) #2c2c2c;
    scrollbar-width: auto;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* メニューバー: 画面上部のナビゲーションバー。再生ボタンや設定などが含まれます。 */
#menu-bar {
    border: 1px solid black;
    border-top: none;
    background-color: rgb(41, 42, 45);
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 52px;
}

/* 左側コントロール: メニューバー左側のボタン群 */
#left-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 52px;
    min-width: max-content;
}

#right-controls {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: 52px;
    width: 100%;
}

/* アプリケーション全体: メニューバー以下のメインコンテンツエリア */
#app {
    display: flex;
    flex-grow: 1;
    height: 0;
    margin-bottom: 0;
    position: relative;
}
/* 左側コンテナ: トラックリストや波形エディタを含む左側のエリア */
#left-container {
    width: 0;
    flex-grow: 1;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

#ToggleButtons{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    width: 52px;
    padding: 6px 6px 32px;
    background-color: rgb(41, 42, 45);
    border-left: 1px solid black;
}

/* トラックエディタ: トラックリストとタイムラインを含む行 */
#track-editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-bottom: 1px solid black;
}

/* トラックヘッダー: 各トラックのコントロール（ミュート、ソロ、名前など）がある左側の列 */
#track-container {
    flex: 0 0 var(--track-container-width);
    min-width: var(--track-container-width);
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: rgb(23, 23, 26);
    min-height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#track-container::-webkit-scrollbar {
    display: none;
}

#track-container track-element:nth-child(2) {
    margin-top: 25px;
}

#track-container .new-track:nth-child(2) {
    margin-top: 34px;
}

#track-container-header {
    position: absolute;
    min-height: 25px;
    min-width: 200px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: var(--head-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* エディタエリア: 波形やノートを表示するタイムラインのコンテナ */
#editor {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#audio-loop-browser{
    width: 300px;
    display: none;
    position: relative;
    font-size: 12px;
    height: 100%;
    transform: translateZ(0);
}

#editor-content {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* エディタキャンバス: 実際に波形が描画される領域 */
#editor-canvas {
    flex-grow: 1;
}

#automation-container {
    position: absolute;
    /* padding-top: 25px; */
    padding-bottom: 143px;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

#vertical-resizer {
    height: 5px;
    background-color: #3b4046;
    cursor: row-resize;
    flex-shrink: 0;
}

/* プラグインエディタ: 画面下部のプラグイン（エフェクト等）を表示するエリア */
#plugin-editor {
    display: flex;
    flex-direction: column;
    height: 250px; /* Default height */
    min-height: 25px; /* Minimized height */
    flex-shrink: 0;
    transform: translateZ(0);
    border: 1px solid black;
    border-top: none;
    background: rgb(23, 23, 26);
}

#plugin-container-header {
    min-height: 25px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: var(--head-color);
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    position: relative;
}

#header-main-track {
    min-width: 200px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#plugins {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden; /* Important for child height calculation */
    min-height: 0;
}


/* マスタートラック: 画面右側の全体音量などを管理するセクション */
#main-track {
    min-width: 200px;
    background: rgb(23, 23, 26);
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#vu-meter {
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#vu-meter-canvas{
    border: 1px solid #313131;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#loading-zone {
    position: absolute;
    top: 300px;
    left: 300px;
    z-index: -100;
}

#songs-container {
    overflow-y: auto;
    max-height: 350px;
}


/* CUSTOM ELEMENTS */

/* メニュー項目: ヘッダー内の個々のボタン（File, Editなど） */
.menu-item {
    min-width: 55px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
  /*  -webkit-touch-callout: none; /* iOS Safari */
  /*    -webkit-user-select: none; /* Safari */
    /*   -khtml-user-select: none; /* Konqueror HTML */
      /*   -moz-user-select: none; /* Old versions of Firefox */
        /*  -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}

.menu-item:hover {
    cursor: pointer;
    background-color: rgb(79, 81, 86); 
}

.menu-item.main {
    background-color: rgb(37, 37, 37);
}

.menu-item.main:hover {
    background-color: rgb(200, 200, 200);
}

.timer-item {
    border-left: solid 1px rgb(111, 111, 111);
    border-right: solid 1px rgb(111, 111, 111);
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    max-width: 212px;
    min-width: 212px;
}

.timer {
    font-family: Helvetica, monospace;
    color: rgb(205, 205, 205);
    font-size: 30px;
}

.timer-item.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.slider-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; 
    min-width: 160px;
    max-width: 160px;
    margin-top: 20px;
}

.icon {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
    pointer-events: none;
}

.dropdown-menu {
    background: rgb(41, 42, 45) !important;
    cursor: pointer !important;
}

.dropdown-item {
    color: lightgray !important;
}
.dropdown-item:hover {
    background: rgb(79, 81, 86) !important;
}

.dropright {
    position: relative;
}

.dropright:hover > .dropdown-menu {
    display: block !important;
    top: 0;
    left: 100%;
    margin-top: -5px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}



.text-icon {
    padding-left: 15px;
    color: lightgrey;
    font-size: 13px;
    font-weight: bold;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.new-track {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 190px;
    min-height: 80px;
    margin: 8px;
    background: transparent;
}

.new-track-text {
    color: lightgrey;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.new-track-text:hover {
    color: #000
}

.new-track:hover {
    background: rgb(200, 200, 200);
    cursor: pointer;
}

.new-track:hover .new-track-text {
    color: black;
}

  
.menu-item .mytooltip {
    visibility: hidden;
    width: auto;
    background-color: rgb(107, 107, 107);
    color: lightgrey;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    display: flex;
    flex-wrap: nowrap;

    /* Position the tooltip */
    position: absolute;
    z-index: 20;
    top: 110%;
    right: 0px;

    transition: 0s visibility;
  }
  
.menu-item:hover .mytooltip {
    visibility: visible;
    transition: 1s linear;
    /* transition-delay: 0.3s; */
}

.resize-icon {
    padding-right: 10px;
    position: absolute;
    right: 0;
    -webkit-user-select: none;
    cursor: ns-resize;
}

#min-max-btn {
    cursor: pointer;
    padding-right: 10px;
    position: absolute;
    right: 0px;
}

.floating-window {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 20;
    border: 1px solid #000;
    background: #212529;
}

.header-window {
    height: 30px;
    background-color: #3b4046;
    cursor: move;
    color: lightgrey;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
}

.title {
    float: left;
    margin: 2px 10px;
}

.close-button {
    float: right;
    margin: 2px 10px;
}

#mount {
    padding: 10px;
}



#drag-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 999;
    background-color: rgba(255,255,255,0.3);
}

#drag-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 143px;
    min-height: 80px;
    margin: 8px;
}

#automation-menu {
    position: absolute;
    background-color: rgba(70, 70, 70, 0.61);
    max-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    border-radius: 5px;
}
.automation-item {
    width: 100%;
    background-color: rgba(70, 70, 70, 0.61);
    color: lightgray;
    position: relative;
    padding-left: 16px;
}

.automation-item:hover {
    background-color: rgba(98, 97, 97, 0.61);
    cursor: pointer;
}

.automation-item.active {
    background-color: rgba(98, 97, 97, 0.61);
    color: white;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    visibility: hidden;
}

.automation-item.active .dot {
    visibility: visible;
}

li {
    list-style-type: none;
    padding: 0;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none;
}

.automation-location {
    z-index: 1;
    width: 100%;
    min-height: 120px;
    pointer-events: none;
    display: flex;
}

.event-active {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.21);
}

canvas {
    grid-column-start: 1;
    grid-row-start: 1;
}

.settings-body {
    color: lightgrey;
    min-width: 400px;
    min-height: 300px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.settings-tiny-item-text {
    font-size: 9px;
    overflow-wrap: normal;
    max-width: 385px;
}

.settings-small-item-text {
    font-size: 12px;
    max-width: 385px;
}

.select-input {
    width: 250px;
}

/* Styles for the loading screen */
body.loading > *:not(.loading-overlay) {
    filter: blur(3px);
    pointer-events: none;  /* This prevents interactions with blurred elements */
}

/* ロード画面: アプリ起動時やプロジェクト読み込み時のオーバーレイ */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95); /* Dark background with 75% opacity */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-wheel {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: lightgray;
}

.zoom-disabled {
    pointer-events: none;
    filter: blur(4px);
}

.zoom-enabled {
    pointer-events: auto;
    filter: none;
}

#vu-meter {
    width:157px;
    height: 35px;
}

/* DAWIY Plugin Manager */
.plugin-manager-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.pm-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.pm-filter-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.pm-filter-btn.active {
    background-color: #0c85d0;
}

.pm-list {
    flex-grow: 1;
    background-color: #333;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 400px;
}

.pm-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.pm-item:last-child {
    border-bottom: none;
}

.pm-item-info {
    display: flex;
    flex-direction: column;
}

.pm-item-name {
    font-weight: bold;
    color: #eee;
}

.pm-item-desc {
    font-size: 0.8em;
    color: #aaa;
}

.pm-install-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.pm-install-btn.uninstall {
    background-color: #dc3545;
}

/* DAWIY Bottom Panel Extensions */
.vertical-divider {
    width: 1px;
    background-color: #000;
    margin: 5px 10px;
}

#dawiy-extensions-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    margin-top: 2px;
    min-height: 0;
}

#dawiy-extension-list {
    width: 150px; /* Wider for text */
    background-color: #2c2c2c;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Stretch items to width */
    padding-top: 5px;
    overflow-y: auto;
}

.dawiy-ext-item {
    width: auto;
    height: 25px; /* Reduced height */
    margin: 2px 5px; /* Smaller margins */
    border-radius: 4px;
    display: flex;
    justify-content: flex-start; /* Left align text */
    align-items: center;
    padding-left: 10px; /* Indent text */
    cursor: pointer;
    background-color: #3a3a3a;
    transition: background-color 0.2s;
    color: #ccc;
    font-size: 12px; /* Smaller font */
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dawiy-ext-item:hover {
    background-color: #555;
}

.dawiy-ext-item.active {
    background-color: #0c85d0;
    color: white;
}

.dawiy-ext-icon {
    /* If we have icons, apply here */
}

#dawiy-extension-view {
    flex-grow: 1;
    background-color: #222;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    overflow: hidden;
}

.dawiy-ext-placeholder {
    font-style: italic;
}